---
import { AuthProvider } from '../components/react/AuthProvider.jsx';
import ProtectedRoute from '../components/react/ProtectedRoute.jsx';
import Dashboard from '../components/react/Dashboard.jsx';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
  </head>
  <body>
    <AuthProvider client:load>
      <ProtectedRoute client:load>
        <Dashboard client:load />
      </ProtectedRoute>
    </AuthProvider>
  </body>
</html>
