---
import Layout from '../layouts/Layout.astro';
import UnsubscribeForm from '../components/react/UnsubscribeForm';
---

<Layout title="Unsubscribe from Newsletter">
  <main class="container mx-auto px-4 py-8">
    <UnsubscribeForm client:load />
  </main>
</Layout>
