---
import { Image } from 'astro:assets';
import reception4 from '../../images/reception4.jpg'

---
<div class="relative h-screen bg-cover bg-center md:mt-10 md:h-[95vh]">
  <!-- Background Image -->
  <Image
    class="h-full w-full object-cover"
    src={reception4}
    alt="Duration of the service"
    width="1920"  
    height="1080" 
  />

  <!-- Overlay Content -->
  <div class="absolute inset-0 flex items-center">
    <!-- Gradient Overlay -->
    <div class="absolute inset-0 bg-gradient-to-t from-zinc-900/80 from-10% to-transparent"></div>

    <!-- Text and Buttons -->
    <div class="relative flex flex-col gap-8 p-6 md:pl-12">
      <h3 class="text-left text-base font-semibold leading-tight text-white md:w-[60vw] md:text-2xl">
        Il centro benessere Gioia Beauty si impegna ad offrire
        un&apos;esperienza di bellezza ecosostenibile e vegana, utilizzando
        prodotti di altissima qualità per garantire un servizio eccellente
        rispettando l&apos;ambiente e gli animali.
      </h3>
      <div class="flex flex-col gap-6">
        <!-- "PRENOTA" Button -->
        <a
          href="#booking-section"
          class="w-fit cursor-pointer border border-white p-4 text-base font-medium text-white"
        >
          PRENOTA
        </a>

        <!-- "Scopri i nostri servizi" Link with Down Arrow -->
        <div class="flex items-center gap-2">
          <a
            href="#services"
            class="w-fit cursor-pointer text-sm font-medium text-white"
          >
            Scopri i nostri servizi
          </a>
          <Image
            src={reception4}
            alt="Down arrow"
            width="24" 
            height="24" 
          />
        </div>
      </div>
    </div>
  </div>
</div>
